*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    display: flex;
    justify-content: center; /*same affect as margin: 0 auto  */
    color: #fff;
    background-color: #5995DA;
    padding: 20px 0; /*gives padding to the top and bottom 
    but not on the left or right  */
}

.menu{
    display: flex;
    justify-content: space-around;
    border: 1px solid #fff; /* debugging */
    width: 900px;
}
.signup{
    margin-left: auto;
}
.login{
    margin-left: 20px;
}

.header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
}
.header{
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social, .logo, .subscribe{
     border: 1px solid #5995DA;
}
.social,.subscribe{
    align-self: flex-end;
    margin-bottom: 20px;
}

.photo-grid-container {
    display: flex;
    justify-content: center;
}
.photo-grid{
    width:900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.first-item{
    order: 1;
}

.last-item{
    order: -1;
}

.photo-grid-item{
    border: 1px solid #fff ;
    width: 300px;
    height: 300px;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.footer-item{
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 200px;
    flex: 1;
}
.footer-one,.footer-three{
    background-color: #5995DA;
    flex: initial;
    width: 300px;
}